
@font-face {
    font-family: myFont;
    src: url("fonts/MarioWorldPixelColor-3zBwX.ttf");
}
@font-face {
    font-family: myOtherFont;
    src: url("fonts/Planes_ValMore.ttf");
} 
 
div#gameWrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body{
    background-color: rgba(21, 1, 90, 255);
}

div#playScreen{
    border: 2px solid white;
    background-color: green;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
div#playScreenTop{
    width: 95%;
    height: 10%;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%);
    background-color: lawngreen;
    overflow: auto;
}
div#playScreenTop table{
    position: absolute;
    max-width: 80%;
   /* width: 100%;
    height: 100%;*/
    background-color: white;
    left: 50%;
    transform: translate(-50%);
}
div#playScreenTop table tr{
    border: 2px solid black;
}
div#playScreenTop table th{
    border: 2px solid black;
}
div#playScreenTop table td {
    text-align: center;
}

div#tableSelectionScreen{
    background-color: #102030;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 18%;
    border: 2px solid white;
    display: none;
}
div#tableSelectionScreen label {
    font-family: myFont;
    font-size: 1rem;
    color: blueviolet;
}
div#tableSelectionScreen div#participants {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
div#tableSelectionScreen div#participants i {
    padding-right: 30px;
}
div#tableSelectionScreen div#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

div#tableSelectionScreen button{
    font-size: 2rem;
    border: 2px solid blueviolet;
    color: white;
}
div#tableSelectionScreen button#back{
    position: absolute;
    right: 1%;
    bottom: 5%;
    background-color: red;
}
div#tableSelectionScreen button#ok{
    position: absolute;
    left: 1%;
    bottom: 5%;
    background-color: blue;
}
form{
    color: white;
    margin: auto;
}