section#playScreen{
    border: 2px solid white;
    background-color: green;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    display: none;
}
div#playScreenTop{
    width: 95%;
    height: 12%;
    box-shadow: 5px 5px 5px black;
    border-radius: 3px;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%);
    background-color: lawngreen;
    overflow: auto;
}
div#playScreenBottom{
    width: 95%;
    height: 12%;
    box-shadow: 5px 5px 5px black;
    border-radius: 3px;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%);
    background-color: lawngreen;
    overflow: auto;
}
div#playScreenTop div#table {
    width: 90%;
    height: 55%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    padding: 0;
}
div#playScreenTop div#others{
    display: flex;
    justify-content: center;
    font-family: myOtherFont;
    position: absolute;
    height: 45%;
    width: 60%;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}
div#playScreenTop div#others div{
    width: 33.33%;
    display: flex;
    justify-content: center;
}
div#playScreenTop div#others img {
    height: 70%;
    position: absolute;
    top: 0;
}
div#playScreenTop div#others p{
    height: 30%;
    position: absolute;
    bottom: 0;
    font-size: 0.75rem;
    color: black;
}
div#playScreenTop table{
    position: absolute;
    max-width: 80%;
    width: 80%;
    text-align: center;
    margin: auto;
    color: gold;
    text-shadow: 1px 1px 1px green;
    box-shadow: 3px 3px 3px black;
    border-radius: 3px;
    background-color: darkolivegreen;
    left: 50%;
    transform: translate(-50%);
    font-size: 1.2rem;
}

div#playScreenTop p{
    font-family: myOtherFont;
}
tr, th, td{
    font-family: myOtherFont;
}
