section#tableSelectionScreen{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 40%;
    display: none;
    border-radius: 5%;
    box-shadow: 5px 5px 50px brown; 
}
/* height designations */
div#participantsSection{
    position: absolute;
    top: 0;
    height: 20%;
    width: 100%;
}
div#difficultiesSection{
    position: absolute;
    top: 28%;
    height: 20%;
    width: 100%;
}
div#gameModeSection{
    position: absolute;
    top: 56%;
    height: 20%;
    width: 100%;
}
div#buttonsSection{
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
}
div#participantsSection div#label, div#difficultiesSection div#label, div#gameModeSection div#label{
    width: 100%;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
}
div#participantsSection div#participants, div#difficultiesSection div#difficulties, div#gameModeSection div#gameModes{
    display: flex;
    justify-content: center;
    width: 100%;
}
div#participantsSection div#participants div{
   /* width: 33.33%; */
    padding: 0 15px;
    text-align: center;
}
div#difficultiesSection div#difficulties div{
    width: 20%;
    font-size: 0.7rem;
    text-align: center;
}
div#gameModeSection div#gameModes div{
    padding: 0 3px;
    font-size: 0.8rem;
    text-align: center;
}
i{
    font-family: myOtherFont;
    color: white;
}
section#tableSelectionScreen div#buttonsSection button {
    font-family: myOtherFont;
    font-size: 2rem;
    width: 30%;
    height: 100%;
    position: absolute; 
    bottom: 10%;
}
section#tableSelectionScreen div#buttonsSection button#tableSelection_submitBtn{
    background-color: blue;
    left: 3%;
}
section#tableSelectionScreen div#buttonsSection button#tableSelection_backBtn{
    background-color: red;
    position: absolute;
    right: 3%;
}